 <nav>
      
       <ul class="cfx">    
                                                                  
            <p>Daily <strong>PHP</strong></p>                                                      
                                                                   
            <li><a href="#">Nieuws</a></li>                                       
            <li><a href="#">Onze redactie</a></li>
            <li><a href="#">Contact</a></li>
            
       </ul>
       
    </nav>   
   
    
    <main id="wrapper">
        
        <h1>Nieuws</h1>
        
        <div class="artikel">
            
            <h2>PHP 8.4 gereleased</h2>
            <p>De nieuwste versie van PHP bevat uitbreidingen op oa. mind control-facades, in-browser 3d projecties en de API voor drones.</p>
            <p>Kernwoorden: new, PHP 8.4</p>
            
        </div>
        
        <div class="artikel">
            
            <h2>Zymphovel framework</h2>
            <p>Wordt Zymphovel het nieuwste PHP-framework dat de wereld in een sneltempo zal veroveren?</p>
            <p>Kernwoorden: frameworks</p>
            
        </div>
        
        <div class="artikel">
            
            <h2>Rasmus Lerdorf vermist</h2>
            <p>De geestelijke vader van PHP Rasmus Lerdorf is sinds vorige week vermist nadat hij met zijn privé-jet richting Ibiza vertrok.</p>
            <p>Kernwoorden: bizar, rasmus lerdorf, feestneus</p>
            
        </div>
        
    </main>
</body>